h1 {
  color: red;
}
p {
  color: blue;
  font-weight: bold;
  font-family: 'Tangerine', serif;
}
body {
  background-image: url(images/waterfalls.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
